body {
	margin: 0;
	padding: 0;
	background: #0E1013;
}
#header,.link
{
	text-align:center;
	color: #4CAF50;
	transition:all 2s;
	size:10px,10px;
	transition:all .1s;
}

a:hover {
    color: hotpink;
	font-size:150%;
}

textarea {
	position:absolute;
	left:20%;
    padding: 10px 10px;
    margin: 1px 0;
    display: inline-block;
    border-radius: 12px;
	-webkit-transition: all 2s;
	transition:all 2s;
	text-align:left;

}
p { 
    word-spacing: 50px;
}